.button {
    background-color: #6b23dc;

    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5a1bb0;
    /* Hover color */
}

/* Reusable icon style */
.icon {
    margin-left: 8px;
    width: 16px;
    /* Adjust as needed */
    height: 16px;
}

/* Layout styling */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.highlight {
    color: #6b23dc;
}