@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans.woff2') format('woff2'),
    url('/fonts/DM-Sans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.dm-sans-custom {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Container class for centering content */
.max-w-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  /* Optional padding for spacing on smaller screens */
}